.buttonVolveraComprar {
    color: white !important;
    width: 100px !important;
    background-color: rgb(14, 20, 57) !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    text-decoration: none !important;
    color: white !important;
    border-radius: 10px !important;
    padding: 5px !important;
    cursor: pointer !important;
  }
  
  .buttonVolveraComprar a {
    color: white !important;
    text-decoration: none !important;
  }
  
  .buttonVolveraComprar a:hover {
    color: red !important;
  }
  
  .buttonVolveraComprar:hover {
    color: red !important;
  }
  
  /* button {
    color: white !important;
    width: 150px !important;
    background-color: rgb(14, 20, 57) !important;
    text-decoration: none !important;
    color: white !important;
    border-radius: 10px !important;
    cursor: pointer !important;
  }
  */
  button:hover {
    color: red !important;
  }