*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}



h1{
    color: white;
    font-style: italic;
    margin-top:  15px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-light .navbar-nav .nav-link .navbar-expand .navbar-nav .nav-link{
    color: white
}

.navbar-nav .nav-link {
    color: white
}

