*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    list-style: none;
}

.nav{
    justify-content: space-between;
    width: 100%;
    background-color: black(255, 243, 68);
    font-style: normal;
    display:flex;
    position: sticky;
    top: 0px;

    align-items: center;
    padding: 1rem;
}
.nav > li {
    float: left;
}

.nav li a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

nav li:hover > ul { 
    display: block;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 150px;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -150px;
    top: 0px;
}