.flex-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 5rem;
    justify-content: space-between;

}